body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.square {
  display: flex;
  background: #f57905;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  padding: 0;
  text-align: center;
  flex-direction: row;
}

.topbox {
  background: #999;
  text-align: right;
}
