body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gridcontainer {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 15% auto auto auto auto auto;
  height: 100vh;
}

.row {
  display: flex;
}

.square {
  border: 1px solid green;
  text-align: center;
  font-size: 3rem;
  flex: 1 0 0;
 }

.bigsquare {
  border: 1px solid green;
  text-align: center;
  font-size: 3rem;
  flex: 2 0 0;
}

.topbox {
  grid-row: 1;
  background: #999;
  text-align: right;
  font-size: 5rem;
  padding: 0.2ch;
  flex: 1 0 0;
  align-content: center;
  justify-content: center;
  border: none;
}